
@using MIER.MVC.ViewModels.SalesInvoice
@model SalesInvoiceVM

@{
    ViewData["Title"] = "Edit Invoice";
}

<!--begin:PageHeader-->
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin:PageInfo-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Invoice</h5>
            <!--end::Page Title-->
            <!--begin:Actions-->
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <span class="text-muted font-weight-bold mr-4">Edit</span>
            <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
            <div class="col-offset-1">
                <a asp-controller="SalesInvoice" asp-action="Index" class="btn btn-light-danger btn-sm"><i class="fa fa-arrow-circle-left"></i>Back to Index</a>
            </div>
            <!--end:Actions-->
        </div>
        <!--end:PageInfo-->

    </div>
</div>
<!--end:PageHeader-->
<!--begin:PageContent-->
<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">

        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-body">
                        <!--begin:Fields-->
                        <div class="row align-items-center mb-4">
                            <div class="col-12">
                                <!--begin:Form-->
                                <form asp-controller="SalesInvoice" asp-action="Update" id="FormSalesInvoice">
                                    @Html.HiddenFor(m => m.Id)
                                    <!--begin:Fields-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="Number"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.Number, new { @class = "form-control bg-light-primary col-6", @readonly = true })
                                                </div>
                                            </div>

                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="Customer"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.Customer, new { @class = "form-control bg-light-primary col-6", @readonly = true })
                                                </div>
                                            </div>
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="Total"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.Total, new { @class = "form-control bg-light-primary col-6", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="Date"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.Date, "{0:dd-mm-yyyy}", new { @class = "form-control col-6 date-picker" })
                                                    @Html.ValidationMessageFor(model => model.Date, String.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="SalesOrderDate"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.SalesOrderDate, "{0:dd-mm-yyyy}", new { @class = "form-control bg-light-primary col-6", @readonly = true })
                                                </div>
                                            </div>
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="Paid"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.Paid, new { @class = "form-control bg-light-primary col-6", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="DueDate"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.DueDate, "{0:dd-mm-yyyy}", new { @class = "form-control col-6 date-picker" })
                                                    @Html.ValidationMessageFor(model => model.DueDate, String.Empty, new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="SalesOrderDeadline"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.SalesOrderDeadline, "{0:dd-mm-yyyy}", new { @class = "form-control bg-light-primary col-6", @readonly = true })
                                                </div>
                                            </div>
                                            <div class="col-4 row">
                                                <div class="col-3 mt-3">
                                                    <label asp-for="Outstanding"></label>
                                                </div>
                                                <div class="col-9">
                                                    @Html.TextBoxFor(model => model.Outstanding, new { @class = "form-control bg-light-primary col-6", @readonly = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-1 mt-3">
                                                <label class="font-weight-bold text-muted">ORDER</label>
                                            </div>
                                            <div class="col-11 form-horizontal line-sets">
                                                @Html.EditorFor(model => model.SalesInvoiceLines)
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-1 mt-3">
                                                <label class="font-weight-bold text-muted">COST</label>
                                            </div>
                                            <div class="col-11">
                                                <div class="form-group">
                                                    <button id="AddCostButton" class="btn btn-light-danger btn-sm" title="Add Cost"><i class="fa fa-plus-circle"></i>Add Cost</button>
                                                    <label class="text-muted">(CTRL L)</label>
                                                </div>
                                                <div class="form-horizontal cost-sets">

         

                                                    @if (Model.SalesInvoiceCosts.Count == 0)
                                                    {
                                                        @await Html.PartialAsync("~/Views/Shared/PartialTemplates/_SalesInvoiceCostTemplate.cshtml", new MIER.MVC.ViewModels.SalesInvoice.SalesInvoiceCostVM())
                                                    }
                                                    else
                                                    {
                                                        <p>Ada</p>
                                                        @*Html.RenderPartial("~/Views/Shared/_templateSalesInvoicePayment.cshtml", new Polaris_MIS.ViewModels.SalesInvoicePaymentList());
            @Html.EditorFor(model => model.SalesInvoicePaymentList, new { htmlAttributes = new { @class = "form-control" } })*@
                                                    }



                                                    @*

        @Html.EditorFor(model => model.SalesInvoiceCosts)*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-1 mt-3">
                                                <label class="font-weight-bold text-muted">PAYMENT</label>
                                            </div>
                                            <div class="col-11">
                                                <div class="form-group">
                                                    <button id="AddPaymentButton" class="btn btn-light-danger btn-sm" title="Add Payment"><i class="fa fa-plus-circle"></i>Add Payment</button>
                                                    <label class="text-muted">(CTRL P)</label>
                                                </div>
                                                <div class="form-horizontal payment-sets d-none">
                                                    @Html.EditorFor(model => model.SalesInvoicePayments)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mr-5">
                                        <div class="row justify-content-end">
                                            <div>
                                                @*<label asp-for="Amount"></label>
                                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control bg-light-primary total-amount", @readonly = true })*@
                                            </div>
                                        </div>
                                    </div>


                                    <!--begin:Fields-->
                                    <!--begin:Action-->
                                    <div class="form-group">
                                        <div class="col-md-offset-1 col-md-10">
                                            <button class="btn btn-light btn-sm" type="reset">Cancel</button>
                                            <button type="submit" class="btn btn-light-danger btn-sm"><i class="fa fa-save"></i><span>Update</span></button>
                                        </div>
                                    </div>
                                    <!--begin:Action-->

                                </form>
                                <!--end:Form-->
                            </div>
                        </div>
                        <!--end:Fields-->
                    </div>
                </div>
            </div>
        </div>
        <!--end::Row-->

    </div>
    <!--end::Container-->
</div>
<!--end:PageContent-->
<!--begin:PageScript-->
@section Scripts {
    <script type="text/javascript" src="~/js/SalesInvoice/createEdit.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        //Page Message
        var message = '@TempData["Message"]';
    </script>

}

<!--end:PageScript-->
